.MovieLibrary {
  background-color: #1e1e2a;
}

.ML-logo {
  height: 40px;
  animation: ML-logo-spin infinite 8s ease;
}

.ML-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #181a26;
  box-shadow: 0 1px 6px rgba(2, 2, 2, 0.6);
}

.ML-title {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.ML-intro {
  padding-top: 8rem;
}

@keyframes ML-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.select-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  height: 40px;
  overflow: hidden;
  width: 140px;
  padding: 0.5rem 1rem;
}
.select-control svg path {
  fill: #5b5e6f;
}
.select-control.sorted svg path {
  fill: #fb6580;
}
.select-control select {
  color: #fff;
  border: none;
  font-size: 1rem;
  height: 40px;
  padding: 5px;
  width: 90px;
  font-family: "Open Sans", sans-serif;
  background: #181a26;
}
.select-control option {
  background-color: #181a26;
}
.select-control option:hover {
  background-color: #1e1e2a;
}
